################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/AlbumsRegistry/v15/Server/sqlite3
/src/AlbumsRegistry.Core/obj
/src/AlbumsRegistry.Core/bin
/src/packages
/src/.vs/AlbumsRegistry
/src/.vs
/src/AlbumsRegistry.Core/AlbumsRegistry.Core.csproj.user
/src/AlbumsRegistry.Core/artists.json
