################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/AlbumsRegistry/App_Data
/src/AlbumsRegistry/jspm_packages
