@model AlbumsRegistry.Core.Models.Publisher

@{
    ViewBag.Title = Strings.Publishers_Edit_Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <h2>@Strings.Publishers_Edit_Title</h2>
    </div>
</div>

@Html.Partial("_EditForm", new ViewDataDictionary(Model))

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
