<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://albumy.aspnet.pl/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webhw26.dcsweb.pl:8172</MSDeployServiceURL>
    <DeployIisAppPath>albumy.aspnet.pl</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>albumy.aspnet_dploy</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AlbumsRegistry.Core.DataAccess.AlbumsRegistryDbContext" Order="1" Enabled="True">
          <Destination Path="Data Source=mssql01.dcsweb.pl,51433;Initial Catalog=1718_AlbumsRegistryDb;Integrated Security=False;User ID=1718_pjaminski;Password=***;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="AlbumsRegistry.Core.DataAccess.AlbumsRegistryDbContext, AlbumsRegistry.Core" MigrationConfiguration="AlbumsRegistry.Core.Migrations.Configuration, AlbumsRegistry.Core" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AlbumsRegistryDb" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=mssql01.dcsweb.pl,51433;Initial Catalog=1718_AlbumsRegistryDb;Integrated Security=False;User ID=1718_pjaminski;Password=***;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AlbumsRegistryDb_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=mssql01.dcsweb.pl,51433;Initial Catalog=1718_AlbumsRegistryDb;Integrated Security=False;User ID=1718_pjaminski;Password=***;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AlbumsRegistryDb-Web.config Connection String" />
    <MSDeployParameterValue Include="AlbumsRegistry.Core.DataAccess.AlbumsRegistryDbContext-Web.config Connection String">
      <ParameterValue>Data Source=mssql01.dcsweb.pl,51433;Initial Catalog=1718_AlbumsRegistryDb;Integrated Security=False;User ID=1718_pjaminski;Password=***;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="AlbumsRegistry.Core.DataAccess.AlbumsRegistryDbContext" />
  </ItemGroup>
</Project>