@model AlbumsRegistry.Core.Models.Artist

@{
    ViewBag.Title = Strings.Artists_Create_Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Strings.Artists_Create_Title</h2>

@Html.Partial("_CreateForm", new ViewDataDictionary(Model))

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}